[gcode_macro HEAT_CHAMBER]

description: Heat the chamber up to "TEMPERATURE"
gcode:
    {% set TEMPERATURE = params.TEMPERATURE if params.TEMPERATURE|string|trim != '' %}

    {% if TEMPERATURE is defined %}
        {% set SENSOR_NAME = 'temperature_sensor chamber' %}
        {% set CONFIG_VALUES = printer.configfile.settings[SENSOR_NAME] %}

        # Temperature variable
        {% if (TEMPERATURE|float) < CONFIG_VALUES.min_temp %}
            { action_raise_error("Bed temperature %s < configured minimum of %s" % (TEMPERATURE, CONFIG_VALUES.min_temp)) }
        {% endif %}

        {% if (TEMPERATURE|float) > CONFIG_VALUES.max_temp %}
            { action_raise_error("Bed temperature %s > configured maximum of %s" % (TEMPERATURE, CONFIG_VALUES.max_temp)) }
        {% endif %}

        {% set TEMPERATURE = (TEMPERATURE|int) if (TEMPERATURE|float) == (TEMPERATURE|int) else (TEMPERATURE|float) %}

        # Set the actual configuration
        PUT STATUS="Heating chamber" CONSOLE="Heating chamber to {TEMPERATURE}"

        M106 S255    ; set part cooling fan to max speed to help the chamber heat up

        STATUS_HEATING
        TEMPERATURE_WAIT SENSOR="{SENSOR_NAME}" MINIMUM={TEMPERATURE}

        M107    ; turn off part cooling fan
    {% endif %}
