[neopixel display]
pin: EXP1_6
chain_count: 3
color_order: RGB
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 0

[neopixel sb_leds]
pin: NEOPXL_2
chain_count: 3
color_order: GRBW
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 0
initial_WHITE: 0

[delayed_gcode _set_neopixels_initial_state]
initial_duration: 1
gcode:
    # Stealthburner
    STATUS_READY

    # Display
    SET_LED LED=display RED=1 GREEN=0 BLUE=0 INDEX=1 TRANSMIT=0
    SET_LED LED=display RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
    SET_LED LED=display RED=1 GREEN=1 BLUE=1 INDEX=3 